.form {
    display: flex;
    justify-content: space-between;
}

.input {
    padding: .5rem;
    width: 70%;
    background-color: transparent;
    border: none;
    border: 1px solid #686E76;
    color: #DFE8F0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.input:focus {
    outline: none;
}

.btn {
    padding: .5rem;
    width: 30%;
    cursor: pointer;
    border: 1px solid #686E76;
}